<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<title>{eyou:global name='web_title' /}</title>
<meta name="description" content="{eyou:global name='web_description' /}" />
<meta name="keywords" content="{eyou:global name='web_keywords' /}" />
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta name="applicable-device" content="mobile">
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<link rel="stylesheet" type="text/css" href="{eyou:global name='web_templets_m' /}/skin/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="{eyou:global name='web_templets_m' /}/skin/css/style.css">
<script type="text/javascript" src="{eyou:global name='web_templets_m' /}/skin/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_m' /}/skin/js/style.js"></script>
<script type="text/javascript" src="{eyou:global name='web_templets_m' /}/skin/js/jquery.limarquee.js"></script>
</head>

<body>
<div class="mask"></div>
{eyou:include file="header.htm" /}
<div class="main">
<div class="banner" id="banner">
  <ul>
  {eyou:adv pid='3'}
    <li><a href="{$field.links}"> <img src="{$field.litpic}" alt="{$field.title}"> </a></li>
  {/eyou:adv}     
  </ul>
  <script type="text/javascript">
                $(function() {
                    $('#banner').roll({
                        banner: true,
                        btn: true
                    });
                });
            </script> 
</div>
{eyou:channelartlist typeid='1'}
<div class="itit">
  <h3>{eyou:field name='englist_name' /}</h3>
  <h4>{eyou:field name='typename' /}</h4>
  <div class="div1"></div>
  <div class="div2"></div>
</div>
<div class="ibox2">
  <p>{eyou:type addtable='single_content'}{$field.content|html_msubstr=###,0,155}...{/eyou:type}</p>
  <a href="{eyou:field name='typeurl' /}" class="more">— 查看更多 —</a> </div>
{/eyou:channelartlist} 
{eyou:channelartlist typeid='2'}
<div class="itit">
  <h3>{eyou:field name='englist_name' /}</h3>
  <h4>{eyou:field name='typename' /}</h4>
  <div class="div1"></div>
  <div class="div2"></div>
</div>
<div class="page_content">
  <ul class="prolist_ul clearfix clear">
    {eyou:arclist row='6' titlelen='30'}
    <li> <a href="{$field.arcurl}" class="img"> <img src="{$field.litpic}" alt="{$field.title}"> </a> <a href="{$field.arcurl}" class="pro_t">
          <p class="p1">{$field.title}</p>
          </a> </li>
    {/eyou:arclist} 
  </ul>
  <script>
                $(".page_content .prolist_ul li a img").imgAuto();
            </script> 
<a href="{eyou:field name='typeurl' /}" class="more">— 查看更多 —</a> </div>
{/eyou:channelartlist} 
{eyou:channelartlist typeid='3'}
<div class="news_list clear">
  <h3>{eyou:field name='englist_name' /}</h3>
  <h4>{eyou:field name='typename' /}</h4>
  <div class="div1"></div>
  <div class="div2"></div>
  <ul>
  {eyou:arclist row='8' titlelen='30'}
    <li> <span class="fr">{$field.add_time|MyDate='Y-m-d',###}</span> <a href="{$field.arcurl}">{$field.title}</a> </li>
   {/eyou:arclist}  
  </ul>
  <a href="{eyou:field name='typeurl' /}" class="more">— 查看更多 —</a> </div>
  {/eyou:channelartlist} 
{eyou:include file="footer.htm" /}
</body>
</html>
