<div class="footer clear">
  <div class="w1200 clearfix">
    <div class="footer_left fl">
      <p>公司地址：{eyou:global name='web_attr_3' /}</p>
      <p>TEL：{eyou:global name='web_attr_1' /} FAX:{eyou:global name='web_attr_4' /} EMAIL：{eyou:global name='web_attr_5' /}</p>
      <p>{eyou:global name='web_copyright' /} {eyou:global name='web_recordnum' /} </p>
    </div>
    <div class="footer_right fr"> <img src="{eyou:global name='web_templets_pc' /}/skin/img/tel.png">
      <p class="p1">全国服务热线</p>
      <p class="p2">SERVICE HOTLINE</p>
      <p class="p3">{eyou:global name='web_attr_1' /}</p>
    </div>
  </div>
</div>
{eyou:global name='web_thirdcode_pc' /} 
<!-- 应用插件标签 start --> 
{eyou:weapp type='default' /} 
<!-- 应用插件标签 end -->