<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link href="{eyou:global name='web_templets_pc' /}/skin/css/style.css" rel="stylesheet" />
<title>搜索页_{eyou:global name="web_name" /}</title>
<meta name="description" content="" />
<meta name="keywords" content="" />
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta name="applicable-device" content="pc">
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery-1.8.3.min.js"></script>
</head>
<body>
{eyou:include file="header.htm" /}
<div class="page_banner" style="background: url({eyou:ad aid='7'}{$field.litpic}{/eyou:ad}) no-repeat center center;"></div>
<div class="main">
  <div class="w1200">
   <div class="main_l fl">
      <div class="main_l_title">
        <p class="p1">搜索结果</p>
        <p class="p2">SEARCH</p>
      </div>
      
      <div class="main_left_message"> </div>
      <div class="contact">
        <p>电话：{eyou:global name='web_attr_1' /}</p>
        <p>传真：{eyou:global name='web_attr_4' /}</p>
        <p>邮箱：{eyou:global name='web_attr_5' /}</p>
        <p>地址：{eyou:global name='web_attr_3' /}</p>
      </div>
    </div>
    <div class="main_right fr">
      <div class="crumbs"><a>搜索<strong>{$eyou.field.keywords}</strong>的结果</a> </div>
      <div class="main_new_list">
        <ul>
         {eyou:list pagesize='8'}
          <li>
            <div class="fl"> <span><b>{$field.add_time|MyDate='d',###}</b></span><br>
              <span>{$field.add_time|MyDate='Y-m',###}</span> </div>
            <a href="{$field.arcurl}">{$field.title}</a>
            <p>{$field.seo_description|html_msubstr=###,0,50,true}</p>
          </li>
         {/eyou:list} 
        </ul>
      </div>
      <div class="page">
        <div class="pagination">
        {eyou:pagelist listitem='index,pre,pageno,next,end' listsize='2' /}
        </div>
      </div>
    </div>
  </div>
</div>
{eyou:include file="footer.htm" /}
<style type="text/css">
    .pagination p {
        line-height: 20px;
    }
    .pagination a {
        line-height: 20px;
    }
</style>
</body>
</html>