<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<link href="{eyou:global name='web_templets_pc' /}/skin/css/style.css" rel="stylesheet" />
<title>{$eyou.field.seo_title}</title>
<meta name="description" content="{$eyou.field.seo_description}" />
<meta name="keywords" content="{$eyou.field.seo_keywords}" />
<link href="{eyou:global name='web_cmspath' /}/favicon.ico" rel="shortcut icon" type="image/x-icon" />
<meta http-equiv="Cache-Control" content="no-transform" />
<meta name="applicable-device" content="pc">
<meta name="MobileOptimized" content="width" />
<meta name="HandheldFriendly" content="true" />
<script type="text/javascript" src="{eyou:global name='web_templets_pc' /}/skin/js/jquery-1.8.3.min.js"></script>
</head>
<body>
{eyou:include file="header.htm" /}
<div class="page_banner" style="background: url({eyou:ad aid='7'}{$field.litpic}{/eyou:ad}) no-repeat center center;"></div>
<div class="main">
  <div class="w1200">
    {eyou:include file="left.htm" /}
    
    <div class="main_right fr">
      <div class="crumbs">{eyou:position style="crumb" /}</div>
      <div class="show_content">
        <h3>{$eyou.field.title}</h3>
        <p class="tips">来源:{$eyou.field.author}&nbsp;&nbsp;|&nbsp;&nbsp;发布时间: {$eyou.field.add_time|MyDate='Y-m-d',###}&nbsp;&nbsp;|&nbsp;&nbsp;{eyou:arcclick /} 次浏览</p>
        <div class="des"></div>
        <div class="show_c_content">
          {$eyou.field.content} 
          <p><br/>
          </p>
        </div>
        {eyou:prenext get='pre' empty='<p class="show_c_content">上一篇&nbsp;:&nbsp;&nbsp;<a>暂无</a></p>'}
        <p class="show_c_content">上一篇&nbsp;:&nbsp;&nbsp;<a href="{$field.arcurl}">{$field.title} </a></p>
        {/eyou:prenext}
        {eyou:prenext get='next' empty='<p class="show_c_content">下一篇&nbsp;:&nbsp;&nbsp;<a>暂无</a></p>'}
        <p class="show_c_content">下一篇&nbsp;:&nbsp;&nbsp;<a href="{$field.arcurl}">{$field.title} </a></p>
        {/eyou:prenext}
      </div>
    </div>
  </div>
</div>
{eyou:include file="footer.htm" /}
<style type="text/css">
    .pagination p {
        line-height: 20px;
    }
    .pagination a {
        line-height: 20px;
    }
</style>
</body>
</html>